* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.mobile__dropdown {
  margin-top: 10px;
  margin-bottom: -10px;
}

.app__dropdown {
  background-color: white;
  width: 10rem;
}

.app__header {
  padding: auto;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #275c1b;
  font-weight: bold;
  font-size: 2rem;
  margin: auto;
}

.app__stats {
  display: flex;
  margin-top: 20px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  position: relative;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.source {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .app__header h1 {
    font-size: 1.4rem;
  }

  .app__dropdown {
    width: 100%;
  }
}
