.infoBox {
  flex: 1;
  min-height: 100px;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-bottom: 10px solid;
}

.infoBox__cases--green {
  color: #275c1b !important;
}

.infoBox__title {
  font-weight: 600 !important;
  margin-bottom: 0.5rem;
}

.infoBox__cases {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  font-weight: 600 !important;
  font-size: 1.2rem;
  margin-top: 15px;
}

@media (max-width: 600px) {
  .infoBox {
    min-height: 140px;
    max-width: 125px;
    margin: 10px 0 5px 0;
  }
  .infoBox:not(:last-child) {
    margin-right: 5px;
  }

  .infoBox__title {
    font-size: 1rem !important;
  }

  .infoBox__cases {
    font-size: 1.2rem;
  }

  .infoBox__total {
    font-size: 1rem !important;
    margin-top: 4px;
  }
}
