.map {
  height: 68vh;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

@media (max-width: 600px) {
  .map {
    height: 65vh;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.map .leaflet-container {
  height: 100%;
  border-radius: 5px;
}

.tip {
  color: rgb(91, 89, 89);
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-container {
  width: 180px;
}

.info-flag {
  height: 100px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-flag img {
  width: 100px;
  border-radius: 2px;
}

.info-confirmed,
.info-recovered,
.info-deaths,
.info-vaccinated {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

.info-confirmed {
  color: #cc1034;
}

.info-recovered {
  color: #2e8b57;
}

.info-deaths {
  color: dimgray;
}

.info-vaccinated {
  color: rgb(211, 84, 0);
}
