.table {
  margin-top: 10px;
  overflow: scroll;
  height: 65.5vh;
  color: #6a5d5d;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
